REACT_APP_BACKEND_URL=http://localhost.3000
# .env
REACT_APP_GOOGLE_API_KEY=your_google_key
DATABASE_URL= mongodb://localhost:27017/your_database

GOOGLE_API_KEY=
# // M-Pesa credentials

CONSUMER_KEY=your_consumer_key
CONSUMER_SECRET=your_secret_key
SHORTCODE=your_shortcode
PASSKEY=your_pass_key
NGROK_URL=your_NGROK_URL

# Airtel credentials
AIRTEL_CONSUMER_KEY=your_consumer_key
AIRTEL_CONSUMER_SECRET=your_secret_key
AIRTEL_SHORTCODE=your_shortcode
NGROK_URL2=your_NGROK_URL
AIRTEL_BASE_URL=your_base_url