/* :root{
  --green:rgb(30, 165, 9);
  --orange: rgb(255,165,0);
}

* {
  margin: 0;
  box-sizing: border-box;
}

.NavBarContainer{
  /* margin-top: 5%;  *
  position: relative;
}

#navline{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: fixed;
  z-index: 500;
  padding: 0.1rem 0rem;
  background: var(--orange);
  top: 0;
  padding-top: 0.5rem;
}

.homeLink{
  margin-left: 5%;
}

.homeIcon{
  font-size: 20px;
  color: var(--green);
}

.homeIcon:hover{
  color: var(--orange);
  cursor: pointer;
}

.menu-container{
  margin-top: 4%; 
}

@media (max-width:320px){
  #navline {
    width: 100%;
  }

  .homeLink{
    display: none;
  }

  .search-bar-container {
    width: 100%;
    max-width: 400px;
  }

  .by_btn {
    font-size: 0.6rem;
    margin-right: 0.1rem;
    padding: 0.2rem;
  }

  .by_reataurant_select {
    padding: 0rem;
    font-size: 0.6rem;
  }

  .menu-container {
    margin-top: 14%;
  }

  .dishesSection {
    margin-top: 1%;
  }
}

@media (min-width: 321px) and (max-width: 375px){
  #navline {
    padding-top: 0.3rem;
    padding-left: 0.2rem;
  }
  
  .NavBarContainer {
   width: 100vw;
  }
 
  .homeLink{
    display: none;
  }

  .search-bar-container {
    width: 100%;
    max-width: 400px;
  }

}

/* Media screens *
@media (min-width: 376px) and (max-width: 480px) {
  .NavBarContainer{
    /* border: 5px solid red; *

    width: 100%;
  } 
  
  #navline{
    padding-left: 0.2rem;
    width: 100%;
  }

  .homeLink{
    display: none;
  }

  .menu-container{
    margin-top: 11%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .menu-container {
    margin-top: 6.5%;
  }
}

@media (min-width: 768px) and (max-width:1024px) {
  .homeLink {
    margin-left: 1%;
  }

  .menu-container{
    margin-top: 5.5%;
  }
}

@media(min-width:1025px) and (max-width:1440px){
  
} */

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --green: #1ea509;
    --orange: #ffa500;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Winky Sans", sans-serif;
}

.storeWrapper{
    position: relative;
}

.storeHeader{
    position: fixed;
    width: 100%;
    padding-left: 3em;
    padding-bottom: 0.5rem;
    top: 0;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 15em;
    align-items: baseline;
    z-index: 100;
    background-color: var(--orange);
}

.storeName{
    font-size: 2rem;
}

.locationP{
    font-size: 1.2rem;
}

.storeRatingDiv{
    font-size: 1.2rem;
    color: var(--white);
}

.storeHeaderSearchDiv{
    /* border: 2px solid red; */

    position: relative; 
    width: 50%; 
    height: 90%;
    bottom: -1rem;
}

.storeHeaderSearchInput{
    width: 100%; 
    padding: 0.3em ; 
    padding-left: 0.5em;
    /* outline: 1px solid #ccc;  */
    border-radius: 0.5rem;
    border: none; 
    outline: none;
    font-size: 1.1rem;
    height: inherit;
    cursor: pointer;
}

.storeHeaderSearchInput:hover{
    outline: 1px solid var(--green);

}

.storeHeaderSearchIcon{
    position: absolute;
    right: 0.5rem; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #888; 
}

.bodyWrapper{
    position: relative;
    height: 95%;
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: center;
    margin-top: 4.6rem;
}

.dispalySection{
    padding: 0.5rem 1rem; 
}

.categorySectiontitle{
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    margin-left: 1rem;
    color: var(--green);
}

.categorySectionDisplay{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.categorySectionDisplayDivs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.3rem;
    outline: 1px solid #888;
    border: none;
    min-height: 22rem; 
}

.categorySectionImage {
    width: 100%;
    height: 10rem;
    object-fit: contain;
    display: block;
    margin-bottom: 0.5rem;
    background-color: #f8f8f8; 
}


.categorySectionP{
    font-size: 1.1rem;
}

.addCartBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.addToCartBtn {
    padding: 0.5rem 0.9rem;
    background-color: var(--orange);
    border-radius: 0.3em;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
    font-size: 0.8rem;
    color: var(--white);
    border: none;
    outline: none;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCartBtn:hover {
    background-color: var(--white);
    color: var(--orange);
    outline: 1px solid var(--orange);
}

.addToCartBtn:active {
    transform: scale(0.96);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
}

.cartSection {
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    height: 100vh; 
    background-color: #fff; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 5.6rem; 
    box-shadow: -2px 0 6px rgba(0,0,0,0.1); 
}


.cartWrapperDiv {
    border: none;
    outline: 1px solid #888;
    width: 95%;
    height: fit-content;
    border-radius: 0.3em;
}

.deliveryPointDiv{
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--green);
    color: var(--white);
    margin-bottom: 0.5rem;
    border-radius: 0.3em;
}

.cartListDiv{
    text-align: center;
}

.cartItem{
    border: 1px solid #88888864;
    display: grid;
    grid-template-columns: 75% 25%;
    column-gap: 0.1rem;
    padding: 0.5rem 0.2rem;
    margin-bottom: 0.1rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.cartItemName, .cartItemPrice{
    display: flex;
    justify-content: start;
}

.cartTotal{
    border: 1px solid #888;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 0.2rem;
    border-left: none;
    border-right: none;
    color: var(--orange);
}

.totalP,.totalfigure{
    display: flex;
    justify-content: start;
}

.doneButtonDiv{
    text-align: center;
    padding: 0.2rem;
    border-bottom: none;
}

.doneButtonDiv {
    width: 30%;
    padding: 0.5rem 0.7rem;
    background-color: var(--green);
    border-radius: 0.3em;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
    font-size: 0.8rem;
    color: var(--white);
    border: none;
    outline: none;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    margin-top: 0.5rem;
}

.doneButtonDiv:hover {
    background-color: var(--white);
    color: var(--orange);
    outline: 0.1px solid var(--orange);
}

.doneButtonDiv:active {
    transform: scale(0.96);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
}


.categorySectionName {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.priceQuantityRow {
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
    margin-bottom: 0.5rem;
}

.categorySectionPrice,
.categorySectionQuantity {
    margin: 0;
    flex: 1;
}

.categorySectionPrice{
    color: var(--green);
    font-weight: bold;
}