:root{
  --green:rgb(30, 165, 9);
  --orange: rgb(255,165,0);
}

.search-bar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdownContainer{
  position: absolute;
  top: 40px;
  left: 0px;
}

.dropdown-section {
  position: relative;
  margin-right: 10px; 
}
 
.dropdown-toggle {
  cursor: pointer;
  position: relative;
  background: var(--green);
}

.dropdown-toggle:hover{
  background: white;
  border: 1px solid var(--orange);
  color: var(--orange);
}

.Dropdown{
  width: 6cm;
}
 
.secondSearch {
  flex: 1;
}