
#exampleModalLabel{
    font-weight: 800;
    text-decoration: underline;
    color: var(--green);
}

.by_reataurant_select{
    height: 100%;
    /* width: 100%; */
    transition: ease-in .2s;
    border: none;
    transition: ease-in .2s;
}

.by_reataurant_select:hover,.by_reataurant_select:focus{
    cursor: pointer;
    outline: 1px solid var(--green);
    border: none;
}

#dishesModalContent {
    /* border: 5px solid green; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 10px;
}

@media (max-width: 480px){
    .by_reataurant_select{
        border: 1px solid green;
        padding: 0.1rem;
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .byModalContent{
        width: 120%;
        margin-left: -20%;
    }

    #dishesModalContent {
        grid-template-columns: repeat(3, 1fr);
    }
}
