@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --green:rgb(30, 165, 9);
  --orange: rgb(255,165,0);
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


/* CONFERENCE DISPALY TABLE */
.freshTableHeader{
    border:1px solid red;

    width: 100%;
    background: var(--orange);
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 10px;
    padding: 10px 5px;
    margin-bottom: .5%;
}

.freshTitileChart{
    width: 100%;
}

.CONFERENCE_input{
    width: 100%;
}

.conference-pencil { 
    color: var(--white); 
    font-size: .9rem;
    width: 5%;
    background: var(--green);
    border: none;
    color: white;
    margin-left: 5px;
    padding: 2px;
}

.conference-pencil:hover{ 
    color: var(--white); 
    background: white;
    color: var(--orange);
    outline: 1px solid var();
    cursor: pointer;
}

/* search_menu_btn */
.CONFERENCE_input {
    display: flex;
    flex-direction: row;
}

.fresh_input{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.conference-search_menu {
    width: 100%;
    border: none;
    outline: 1px solid rgba(128, 128, 128, 0.119);

    font-size: 15px;
    height: 3rem;
    padding: 3px;
    transition: ease-in 0.2s;
}

.conference-search_menu:hover ,.conference-search_menu:focus{
    outline: 1px solid var(--green);
    cursor: pointer;
    padding: 5px 10px;
}

.search_conference_btn{
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    background: var(--green);
    color: white;
    transition: ease-in 0.2s;
    height: 3rem;
}

.search_conference_btn:hover{
    background-color: white;
    color: var(--orange);
    border-left: .1px solid var(--orange);
    cursor: pointer;
}

.fresh_Page_wrapper{
    width: 100%;
    min-height: 80vh;
}

.fresh_Page_form{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 4px;
    row-gap: 4px;
    padding: 10px;
}

.fresh_Page_divs{
    width: 100%;
}

.fresh_Page_inputs{
    width: 100%;
    padding: 3px 5px;
    border: none;
    outline: 1px solid rgba(128, 128, 128, 0.244);
    transition: ease-in 0.2s;
}

#fresh_Page_inputs{
    padding: 1px 3px;
}

.fresh_Page_inputs:hover,.fresh_Page_inputs:focus{
   border: none;
   outline: 1px solid var(--orange);
   cursor: pointer;
   padding-left: 15px;
   color: var(--orange);
}

.fresh_Page_btn{
    border: none;
    background: var(--green);
    color: white;
    padding: 3px 10px;
    transition: ease-in 0.2s;
}

.fresh_Page_btn:hover{
    background: white;
    color: var(--orange);
    outline: 1px solid var(--orange);
    cursor: pointer;
}

.fresh_table_headers{
    width: 100%;
    display: flex;
    justify-content: space-around; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; 
    gap: 5px;
}

.freshHeaderDiv {
    padding: 5px 10px;
    background-color: #f2f2f2; 
    font-weight: bold; 
    text-align: center;
    width: 15%; 
    font-size: 15px;
}