.fresh_count{
    position: absolute;
    top: 5%; 
    right: 5%;
    font-weight: 600;
    font-size: 18px;
    color: red;
}

#fresh_cart{
    transition: ease-in .2s;
}

#fresh_cart:hover{
    color: white;
}

#cartCount2{
    position: absolute;
    top: 3%; 
    right: 4.8%;
    font-weight: 600;
    font-size: 18px;
    color: red;
}

#cart2{
    margin-right: 5%;
}

@media (min-width: 768px) and (max-width:1023px) {
    #cart2 {
        margin-right: 3%;
    }

    #cartCount2 {
        position: absolute;
        top: -1%;
        right: 2.8%;
    }

    .foodCartModalContent{
        width: 140%;
        margin-left: -20%;
    }
}


