:root {
  --green: #1ea509;
  --orange: #ffa500;
  --white: #ffffff;
}

.statusButtonOrder{
    color: var(--white);
    background: var(--green);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.statusButtonOrder:hover{
    color: var(--orange);
    background: var(--white);
    border: none;
   outline: 1px solid var(--orange);
}