/* src/components/header/SearchAndAuth.css */

.hide {
    display: none;
  }
  
  .show {
    display: inline-block;
  }

.search-auth-wrapper {
    background-color: #f8f9fa; /* Light background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1020;
    width: 80%;
    font-size: 15px;
  
  }
  
  .auth-link {
    display: flex;
    align-items: center;
  }
  
  #signup-link {
    text-decoration: none;
    color: #020c16; /* Bootstrap primary color */
  }

  #signup-link:hover {
    background-color: #eb2106ff;
    color: #ffff;
    padding: 5px;
    border-radius: 5px;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    margin-right: 4%;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 5px 10px;
  }
  
  .search-tool-icon, .mic-icon {
    color: #6c757d; 
    margin-right: 5px;
  }
  
  #searchQuery {
    border: none;
    outline: none;
    flex-grow: 2;
  }
  
  #stop {
    margin-left: 10px;
    width: 3em;
  }
  
  /* Styling for screens above 700px */
  @media (min-width: 700px) {
    .search-auth-wrapper {
      top: 0;

    }
  }
  
  /* Styling for screens below 700px */
  @media (max-width: 700px) {
    .search-auth-wrapper {
      top: 50px; /* Adjust according to the navbar height */
      width: 100%;
      margin-left: 0;
      z-index: -1;
      font-size: 11px;
      position: absolute;
    }
  
    .search-auth-wrapper .search-bar {
      flex-direction: row;
    }
  
    .auth-link, .searchBar {
      width: 100%;
    }
  
    .auth-link {
      order: 1;
      font-size: 11px;
      
    }
    .auth-link a {
      font-size: 12px;
    }
  
    .searchBar {
      order: 2;
    }
  
    .search-bar {
      width: 100%;
    }
  
    .search-bar input {
      width: 100%;
      margin-top: 5px;
    }
  
    .search-tool-icon, .mic-icon {
      margin-right: 0;
    }
  }
  